/*
 * Copyright (c) 2021-2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define QWERTY_L 0
#define NAV_L    1
#define SYM_L    2

#define Undo   LC(Z)
#define Cut    LC(X)
#define Copy   LC(C)
#define Paste  LC(V)
#define Redo   LC(Y)

/ {
    combos {
        compatible = "zmk,combos";

        combo_spc {
            bindings = <&kp SPACE>;
            key-positions = <16 15>;
        };

        combo_bks {
            bindings = <&kp BACKSPACE>;
            key-positions = <19 20>;
        };

        combo_tab {
            bindings = <&kp TAB>;
            key-positions = <27 28>;
        };

        combo_enter {
            bindings = <&kp ENTER>;
            key-positions = <31 32>;
        };

        combo_del {
            bindings = <&kp DEL>;
            key-positions = <28 29>;
        };
    };
};

/ {
    macros {
        Passpc: Passpc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N0 &kp N3 &kp N1 &kp N1>;
            label = "PASSPC";
        };

        Passfirma: Passfirma {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N7 &kp N3 &kp N0 &kp N0 &kp N2 &kp N0 &kp N9 &kp N9>;
            label = "PASSFIRMA";
        };
    };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
/* QWERTY
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | `     |   Q   |   W   |   E   |   R   |   T   |-----------------------------------|   Y   |   U   |   I   |   O   |   P   | BKSPC |
 * | TAB   |   A   |   S   |   D   |   F   |   G   |-----------------------------------|   H   |   J   |   K   |   L   |   ;   | ENTER |
 * | CTRL  |   Z   |   X   |   C   |   V   |   B   |  ESC  |-------------------|  CAPS |   N   |   M   |   ,   |   .   |   /   |   '   |
 *                                 |  GUI  |  ALT  |SK SHFT|  Nav  |---|  Sym  | SPACE |  ALT  |  GUI  |
 */
                        display-name = "tastiera";
                        bindings = <
&kp  BSPC     &kp  Q        &kp  W        &kp  E        &kp  R        &kp  T                                                                         &kp  Y        &kp  U        &kp  I        &kp  O        &kp  SEMI     &kp ENTER
&kp  ENTER    &kp  A        &kp  S        &kp  D        &kp  F        &kp  G                                                                         &kp  H        &kp  J        &kp  K        &kp  L        &kp  P        &kp ENTER
&kp  LCTRL    &kp  Z        &kp  X        &kp  C        &kp  V        &kp  B        &kp  ESC                                           &caps_word    &kp  N        &kp  M        &kp  COMMA    &kp  DOT      &kp  SLASH    &kp  SQT
                                                        &kp  LGUI     &kp  LALT     &sk  LSHIFT    &mo  NAV_L            &mo  SYM_L    &kp  GRAVE    &kp  LALT     &kp  LGUI
                        >;

                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
                };

                nav_layer {
/* NAV
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | Copy  |   1   |   2   |   3   |   4   |   5   |-----------------------------------|   6   |   7   |   8   |   9   |   0   | BSPC  |
 * | Cut   |  GUI  |  Alt  | Ctrl  | Shift | Paste |-----------------------------------| PG UP |  Left |  Up   |  Down | Right | PG DN |
 * | Ctrl  |  F1   |  F2   |  F3   |  F4   |  F5   |  UnDo |-------------------| ReDo  |  F6   |  F7   |  F8   |  F9   |  F10  | Ctrl  |
 *                                 |       |       |       |       |---| ADJ_L |       |       |       |
 */

                        display-name = "naviga";
                        bindings = <
&kp  Copy     &msc SCRL_UP  &mkp LCLK     &mkp MCLK     &mkp MB2      &msc SCRL_DOWN                                                                 &msc SCRL_LEFT   &mmv MOVE_LEFT  &mmv MOVE_UP  &mmv MOVE_DOWN  &mmv MOVE_RIGHT    &msc SCRL_RIGHT
&kp  Cut      &kp  LGUI     &kp  LALT     &kp  LCTRL    &kp  LSHFT    &kp  Paste                                                                     &kp   PG_UP      &kp  LEFT       &kp   UP      &kp   DOWN      &kp  RIGHT         &kp PG_DN
&trans        &kp  F1       &kp  F2       &kp  F3       &kp  F4       &kp  F5       &kp Undo                                           &kp  Redo     &kp   F6         &kp  F7         &kp   F8      &kp   F9        &kp  F10           &kp RCTRL
                                                        &trans        &trans        &trans        &trans                 &trans        &trans        &trans        &trans
                        >;

                        sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
                };

                sym_layer {
/* SYM
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | INS   |   !   |   @   |   #   |   $   |   %   |-----------------------------------|   ^   |   &   |   *   |   (   |   )   | BSPC  |
 * |       |   \   |   -   |   =   |   [   |   ]   |-----------------------------------| HOME  | Shift | Ctrl  | Alt   | Gui   | END   |
 * | Ctrl  |   |   |   _   |   +   |   {   |   }   |SkAltGr|-------------------| MENU  | Mute  | Vol-  | Vol+  | Play  |       | Ctrl  |
 *                                 |       |       |       |  ADJ_L |---|      |       |       |       |
 */

                        display-name = "numeri";
                        bindings = <
&kp  PLUS   &kp  MINUS    &kp N7  &kp N8  &kp N9     &kp  LPAR                                                                      &kp  HASH     &kp  DOLLAR  &kp  AMPS     &kp  LBKT     &kp  RBKT    &kp PRINTSCREEN
&kp  ASTRK  &kp  SLASH    &kp N4  &kp N5  &kp N6     &kp  RPAR                                                                      &kp  EXCL     &kp  DEL     &kp  AT       &kp  F4       &Passpc      &Passfirma      
&kp  EQUAL  &kp  PERCENT  &kp N1  &kp N2  &kp N3     &kp  UNDER    &kp Undo                                           &kp  Redo     &kp C_NEXT    &kp  C_VOL_DN &kp  C_VOL_UP &kp  C_PP    &kp C_PREV   &kp BSLH     
                                          &kp COMMA  &kp N0        &kp ENTER       &trans                &trans       &trans        &trans        &trans
                        >;

                        sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
                };

        };
};
