if SHIELD_HSHS46_DONGLE

config ZMK_KEYBOARD_NAME
    default "HSHS46"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT
    default y

# AGGIUNGI 'int' SUBITO DOPO IL NOME DELLA CONFIGURAZIONE:
config ZMK_SPLIT_BLE_PERIPHERAL_COUNT
    int
    default 2

config BT_MAX_CONN
    default 7

config BT_MAX_PAIRED
    default 7

endif
