if SHIELD_HSHS46_DONGLE

config ZMK_KEYBOARD_NAME
    default "HSHS46"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT
    default y

# 1. Dice a ZMK di accettare 2 connessioni wireless simultanee (lato DX + lato SX)
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    int
    default 2

# 2. Dice al widget dello schermo Prospector di mostrare 2 icone della batteria
config ZMK_SPLIT_BLE_PERIPHERAL_COUNT
    int
    default 2

config BT_MAX_CONN
    default 7

config BT_MAX_PAIRED
    default 7

endif
